doctype html
html
  head
    title Passport
    link(rel='stylesheet', href='/vendor/bootstrap/dist/css/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .navbar.navbar-inverse.navbar-static-top(role='navigation')
      .container-fluid
        .navbar-header
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') Very Secure Website
        .collapse.navbar-collapse
          ul.nav.navbar-nav
            if user
              li.active
                a(href='/users') Users
              li
                a(href='/message') Message Board
            else
              li.active
                a(href='/') Home
          ul.nav.navbar-nav.navbar-right
            if user
              li
                a(href='/logout') Logout
            else
              li
                a(href='/') Login
              li
                a(href='/register') Register
    .container
      - if (message)
        if message.error
          .alert.alert-danger= message.error
        if message.info
          .alert.alert-info= message.info
        if message.success
          .alert.alert-success= message.success
      block content
      script(src='/vendor/jquery/dist/jquery.min.js')
      script(src='/vendor/bootstrap/dist/js/bootstrap.min.js')
      script(src='/javascripts/handlebars-v4.0.2.js')
      script(src='/javascripts/app.js')
