extends layout

block content
   h1.page-header Register:
   form(action="/register" method="POST")
      fieldset
         .form-group
            label(for="firstname") First Name
            input.form-control(type="text" name="firstname" id="firstname")
         .form-group
            label(for="lastname") Last Name
            input.form-control(type="text" name="lastname" id="lastname")
         .form-group
            label(for="email") Email
            input.form-control(type="email" name="email" id="email")
         .form-group
            label(for="username") Username
            input.form-control(type="text" name="username" id="username")
         .form-group
            label(for="password") Password
            input.form-control(type="password" name="password" id="password")
         .form-group
            input.btn.btn-primary.btn-block(type="submit" value="Register")