extends layout

block content
   h2.text-center= 'Welcome, ' + user.firstname + '!'
   h3.page-header User List:
   #users
      each user in users
         ul.col-sm-3.user
            li= 'Username: ' + user.username
            li= 'Name: ' + user.firstname + " " + user.lastname
            li= 'Email: ' + user.email
            button.btn.btn-sm.btn-danger.delete(data-id= user.id) Delete User
   script#usersList(type='text/x-handlebars-template')
      {{#each users}}
      ul.col-sm-3.user
         li Username: {{this.username}}
         li Name: {{this.firstname}} {{this.lastname}}
         li Email: {{this.email}}
         button.btn.btn-sm.btn-danger.delete(data-id= '{{_id}}') Delete User
      {{/each}}