a {
  color: #00B7FF;
}

input {
  margin: 5px;
  display: block;
}

ul {
  list-style-type: none;
}

.user:nth-child(odd) {
  background-color: #00d6b2;
}

.user:nth-child(even) {
  background-color: #eeeeee;
}

.btn {
  margin: 5px auto;
}

.edit {
  float: right;
}